* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
#page-header {
  text-align: center;
}
  .newspaper-info {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 1rem;
  }
  .heading {
    padding: 2% 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    h1 {
      font-size: 7.5rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h1,
    h2 {
      font-family: 'Times New Roman', Times, serif;
    }
  }

/* Main */
main {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "article1 article2 article3"
    "article1 article2 article4"
    "article1 article2 article5";
  column-gap: 2rem;
  margin: 3%;
  text-align: justify;
}

article {
  address {
    margin: 0.75rem 0;
  }
}

#article-1 {
  grid-area: article1;
}
#article-2 {
  grid-area: article2;
}

.page {
  padding: 0 0.5rem;
  font-weight: bold;
}

.quote {
  padding: 1rem 0;
  font-size: 1.25rem;
  font-style: italic;
  text-align: left;
}

.article-image {
  padding-bottom: 1rem;
  grid-area: article2;
  
  img {
    width: 100%;
  }
}